<%- include('partials/header'); -%>
<h1>Compose</h1>

<form name="journal" action="/" method="post" required>
    <input type="text" name="entry">
    <input type="submit" value="Publish">
  </form>

<%- include('partials/footer'); -%>